.cabecalho-home {
    background: url('../../IMG/header-home-bg.jpg') black no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 50px 0;
    padding-top: 150px;
    &__titulo {
        font-size: 40px;
        margin-bottom: 0;
    }
    &__role {
        display: none;
    }
    @media (min-width: $breakpoint-md) {
        background: url('../../IMG/header-home-bg-md.jpg') no-repeat;
    }
    @media (min-width: $breakpoint-lg) {
        height: 100vh;
        &__titulo{
            margin-bottom: 0;
            font-size: 60px;
            margin-top: 150px;
        }
        &__subtitulo{
            font-size: 22px;
        }
        &__role {
            display: block;
            position: absolute;
            background: url('../IMG/icone-mouse.png') no-repeat center right;
            color: white;
            bottom: 50px;
            left: 50%;
            height: 50px;
            width: 190px;
            text-align: left;
            font-size: 20px;
            text-decoration: none; 
            line-height: 42px;
            margin-left: -95px;
        }
    }
    @media (min-width: $breakpoint-xl) {
        background: url('../../IMG/header-home-bg-xl.jpg') black no-repeat;
        background-size: cover;
    }
}
.home__titulo {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    &::after {
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        background-color: $cor-principal;
        margin: 0 auto;
        margin-top: 15px;
    }
    &--branco::after {
        background-color: white;
    }
}