@font-face {
    font-family: "Source-Sans-Pro";
    src: url(../Fontes/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: "Source-Sans-Pro";
    src: url(../Fontes/SourceSansPro-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Source-Sans-Pro";
    src: url(../Fontes/SourceSansPro-BoldIt.otf);
    font-weight: bold;
    font-style: italic;
}